[submodule "external/Catch2"]
	path = external/Catch2
	url = ../../catchorg/Catch2.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = ../../zeux/pugixml.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = ../../Tencent/rapidjson.git
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = ../../powertab/rtmidi.git
[submodule "external/withershins"]
	path = external/withershins
	url = ../../cameronwhite/withershins.git
